;  ______        ____  __
; |  _ \ \      / /  \/  |
; | |_) \ \ /\ / /| |\/| |
; |  _ < \ V  V / | |  | |
; |_| \_\ \_/\_/  |_|  |_|  v0.1
;
; CONFIGURATION FILE
;
; ------------------------------
; | NOTE                       |
; | -------------------------- |
; | you can remove comments,   |
; | but do not remove keys (or |
; | their values) in this file |
; ------------------------------

; ================================================================

[layout]

; the amount of pixels between windows and the edges of the screen, aka. margins
gaps-outer-pixels = 24

; the amount of pixels between windows, aka. padding
gaps-inner-pixels = 12

; ================================================================

[behavior]

; amount of autosplits before splitting a neighboring window
max-split-depth = 4

; whether or not using focus hotkeys moves the cursor as well
window-operation-warp-cursor = true

; determines if the focus updates when moving windows between workspaces
workspace-follow-window-movement = false

; ================================================================

[animations]

; available easing styles:
;   linear
;   sine
;   quint
;   quart
;   quad
;   expo
;   elastic
;   cubic
;   circ
;   bounce
;   back
;   spring
;
; available directions:
;   in
;   out
;   in-out
;   out-in

; controls the animation for all window transformations
window-transform-style = "expo"
window-transform-direction = "out"
window-transform-duration-seconds = 0.33

; controls the animation for when the wallpaper is dimmed
; this option has no effect if styling/wallpaper-dim-mode is set to "always"
wallpaper-dim-style = "sine"
wallpaper-dim-direction = "out"
wallpaper-dim-duration-seconds = 0.5

; controls the animation for focus border transformations
border-focused-style = "expo"
border-focused-direction = "out"
border-focused-duration-seconds = 0.25

; ================================================================

[colors]

; NOTE:
; every color supports alpha unless specified otherwise
;
; you can effectively use this to disable certain effects or components entirely
; e.g. editing the color #ffffff to be #ffffff00 by adding two zeroes will make it invisible

window-backdrop = "#00000099"

border-focused = "#ffffff"
border-regular = "#ffffff44"

; ================================================================

[styling]

; determines when the backdrop (region behind the window manager) gets dimmed
; possible values:
;   occupied (when windows are open)
;   always
;   never
wallpaper-dim-mode = "occupied"

; determines how dim the wallpaper will be when it should dim
; treat this value like transparency (1.0 = pure black, 0.0 = no change)
; this option has no effect if wallpaper-dim-mode is "never"
wallpaper-dim-amount = 0.25

; enable or disable all blur effects
; this option has no effect if window backgrounds are fully opaque
blur-layer-enabled = true

; the radius (intensity) of the blur
; it is recommended to not let this value exceed 12 pixels
blur-radius-pixels = 8

; how much further-away pixels affect the blur
blur-variance = 0.005

; border widths
border-focused-width-pixels = 3
border-regular-width-pixels = 1

; window corner roundness
window-corner-radius-pixels = 12

; determines how workspaces are organized
; possible values:
;   horizontal
;   vertical
workspace-layout-direction = "horizontal"
